* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(211,211,211);
  font-family: 'Helvetica Neue';
  overflow: hidden;
}
h3 {
  font-family: 'Stint Ultra Condensed';
  font-weight: 100;
  font-size: 3rem;
}
button {
  border: 0;
  outline: none;
  cursor: pointer;
}
.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}
.main {
  flex: 1;
}
.app.inspector-active .inspector-wrapper {
  flex: .8;
  transition: all .3s;
}
.app.inspector-inactive .inspector-wrapper {
  flex: .05;
  transition: all .3s;
}

/* generics/reusables? */
/* for header modules (like chapter+ch name, action suggestions+search) */
.sidebyside {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}
.author-goal {
  border-radius: 0.5rem;
  font-size: 0.8rem;
  padding: 0.5rem;
}
.author-goal.char-goal {
  background: rgb(248,212,72); 
}
.author-goal.value-goal {
  background: rgb(236,96,94);
}
.author-goal input[type="checkbox"] {
  margin-right: 0.5rem;
}

/* transcript and action suggestions container (all but inspector) */
.main {
  display: grid;
  grid-template-columns: 4fr 3fr; /* fr: fraction of the free space */
  overflow: hidden;
}

/* transcript area */
.transcript-wrapper {
  background: #fff;
  padding: 0 3rem; /* so the bookmarks can hang from the top of the screen and the text falls off */
  position: relative; /* so that we can top-rightify the author goals area easily */
  overflow-y: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-gap: 1rem;
  box-shadow: 5px 0px 17px grey;
}
.transcript-bookmarks {
  margin-bottom: 1rem;
}
.transcript-bookmark {
  background: rgb(187,213,251);
  display: inline-block;
  font-family: 'Open Sans Condensed';
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 0.5rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  vertical-align: top;
  width: 2.25rem;
}
.transcript-bookmark.selected {
  background: rgb(144,183,239);
  padding: 0.75rem 0.5rem;
}
.transcript-bookmark:not(.selected) {
  cursor: pointer;
}
.transcript-author-goals {
  position: absolute;
  right: 0.5rem;
  text-align: right;
  top: 1rem;
}
.transcript-author-goals .author-goal-wrapper {
  margin-bottom: 1rem;
}
.transcript-author-goals button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  padding: none;
  position: relative;
  /*right: 0.75rem;*/
}
.chapter-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: .25rem;
  align-items: baseline;
  width: fit-content;
}
.chapter-header > h3 {
  font-size: 3.5rem;
}
.chapter-title {
  border: none;
  font-family: 'Open Sans Condensed';
  font-size: 1.5rem;
  margin-left: 0.75rem;
  letter-spacing: -.01rem;
}
.transcript {
  overflow-x: visible;
  overflow-y: scroll;
}
.transcript .entry {
  /*background: whitesmoke;*/
  border-radius: .8rem;
  margin-bottom: .5rem;
  padding: .5rem .8rem;
}
.transcript .entry .default-desc {
  /*font-weight: bold;*/
  margin-bottom: 0.5rem;
}
.transcript .entry .user-desc {
  background: unset;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding-left: 1rem;
  resize: none;
  width: 100%;
}
.transcript .entry .user-desc:empty:not(:focus):before {
  color: grey;
  content: attr(data-default-text);
  font-style: italic;
}
.action-staging-area {
  background: aquamarine;
  border-radius: .4rem;
  margin-bottom: 2rem;
  padding: 1rem;
}
.staged-action > .effect {
  font-style: italic;
  padding: .2rem 1rem;
  font-size: .9rem;
  color: cadetblue;
  font-family: serif;
}
.staged-action > .effect:empty {
   display: none;
}
button.run-actions {
  border-radius: .2rem;
  margin-top: 1rem;
  padding: .4rem;
}
/* we use this to calculate height for vertically autoresizing transcript entry textareas.
   its text-relevant styles need to be synced up with those of the textareas. */
#fakeTranscriptTextarea {
  background: red;
  padding-left: 3rem;
  padding-right: 2rem;
  left: 0;
  position: fixed;
  top: 0;
  white-space: pre-wrap;
  width: 50%;
  z-index: -1000;
  visibility: hidden;
}

/* suggestions area */
.suggestions-wrapper {
  background: rgb(211,211,211);
  padding: 2rem;
  overflow-y: scroll;
}
.filter-suggestions {
  margin-bottom: 1rem;
}
.filter-suggestions h3 {
  margin-right: .75rem;
}
.filter-suggestions input, .filter-suggestions button {
  border-radius: 0.35rem;
  height: 1.75rem;
  margin-bottom: .5rem;
  padding: .5em .75rem;
}
/*.filter-suggestions input:focus, .filter-suggestions button:focus {
  outline: none;
  background: rgb(238,238,238);
}*/
.filter-suggestions input {
  background: rgb(238,238,238);
  border: none;
  flex-grow: 1;
  font-family: monospace;
  margin-right: .5em;
  min-width: 210px;
  /*box-shadow: inset 0px 0px 8px 5px rgb(211,211,211);*/
}
.filter-suggestions input:focus {
  background: white;
  /*box-shadow: 0px 0px 8px 5px white;*/
  outline: none;
}
.filter-suggestions button {
  background: rgb(58,58,58);
  color: white;
  /*left: -.5rem;*/
  padding: .5em 1rem;
  position: relative;
}
.suggested-action {
  background: #fff;
  border-radius: .5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}
.suggested-action.internal {
  background: rgb(229,226,253);
}
.suggested-action .tagline {
  cursor: pointer;
}

/* inspector area */
.inspector-wrapper {
  background: rgb(238,238,238);
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  box-shadow: 0px -5px 20px grey;
  overflow: scroll;
  z-index: 1; /* so shadow appears over main */
}
/* .inspector-active/inactive is a class on the whole .app div */
.inspector-inactive .inspector-content {
  display: none; /* TODO make this a keyframe after changing flex size active->inactive? */
}
.inspector-inactive .inspector-wrapper {
  padding: 0;
}
.show-inspector-toggle {
  background: unset;
  border: 0;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  height: 1.5rem;
  outline: none;
  transition: background 0.5s; /* fade out background color on unhover */
  width: 100%;
}
.show-inspector-toggle:hover {
  background: #d6d6d6;
  /*box-shadow: 0px 8px 10px #d6d6d6;*/
  transition: 0.3s;
}
.inspector-inactive .show-inspector-toggle {
  height: 100%; /* TODO make this a keyframe after changing flex size active->inactive? */
}
.arrow {
  height: 0; 
  width: 0; 
  margin: auto;
}
/* arrow up */
.inspector-inactive .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #3a3a3a;
}
/* arrow down */
.inspector-active .arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #3a3a3a;
}
.inspector-content {
  display: flex;
  flex: 1; /* fill available space */
  flex-flow: row wrap;
  padding: 2rem;
  padding-top: .5rem;
}
.inspector-left-side {
  border-right: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
  width: fit-content;
}
.inspector-wrapper h3 {
  padding-right: .5rem;
  margin-bottom: .5rem;
}
.inspector-tab-buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 14rem;
}
.inspector-tab-button {
  background: rgb(58,58,58);
  border-bottom: solid .5px rgb(238,238,238);
  color: white;
  display: block;
  flex-grow: 1;
  font-family: monospace;
  font-size: 1.2rem;
  padding: 0.2rem 0.5rem;
  text-align: left;
  width: 100%;
  text-transform: capitalize;
}
.inspector-tab-button.selected {
  background: black;
}
.inspector-tab-button:hover {
  background: rgb(30,30,30);
}
.inspector-tab {
  border-color: grey;
  border-radius: .5rem;
  border-style: dashed;
  border-width: thin;
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 2rem;
  margin-top: .5rem;
}

/* character inspector tab */
.inspector-tab.characters {
  border-style: none;
  display: flex;
  padding: 0;
}
.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5rem);
  grid-auto-rows: 1fr; /* equal height rows */
  grid-gap: .5rem;
  flex: 1;
  height: fit-content;
  max-height: 16rem;
  overflow: scroll;
  padding: 15px;
}
.character-preview {
  background: white;
  border-radius: .3rem;
  font-family: serif;
  font-style: italic;
  padding: .2rem;
  padding-bottom: .5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.character-preview.selected {
  box-shadow: 0px 0px 14px grey;
  font-weight: bold;
}
.character-preview > .character-portrait {
  object-fit: cover;
  width: 100%;
}
.inspector-card {
  background: white;
  border-radius: .4rem;
  flex: 1;
  padding: 1rem;
  max-height: 16rem;
  overflow: scroll;
}
.character-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.inspector-card-name {
  font-family: serif;
  font-style: italic;
  font-size: 2rem;
}
.character-card > .character-portrait {
  float: left;
  width: 11rem;
}

/* author goals editor */
.author-goals-editor {
  display: none; /* Hidden by default */
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /*cursor: pointer; /* Add a pointer on hover */
}
.author-goals-editor.active {
  display: block;
}
.author-goals-editor-inner {
  background: white;
  border-radius: 1rem;
  left: 25%;
  padding: 1rem;
  position: relative;
  top: 25%;
  width: 50%;
}
.author-goals-editor-inner .author-goals {
  display: flex;
  flex-flow: row wrap;
}
.author-goals-editor-inner .author-goal {
  /*background: #eee;*/ /* should be set by .char-goal and .value-goal classes */
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}
.author-goals-editor-inner .author-goal select {
  margin-right: 0.5rem;
}
.close-goals-editor-button {
  background: rgb(58,58,58);
  border-radius: 0.5rem;
  color: white;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  /*text-align: center;*/
  width: 100%;
}

.small {
  font-size: .7rem;
}
.muted {
  color: grey;
}
