* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Georgia;
}
main {
  display: flex;
  flex-flow: row wrap;
}
h3 {
  margin-bottom: 1rem;
}
button {
  padding: .25rem;
}
.transcript-wrapper {
  background: #efe;
  padding: 2rem;
  width: 60%;
}
.transcript .entry {
  border-left: 4px solid #ccc;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.transcript .entry .defaultdesc {
  font-weight: bold;
}
.transcript .entry .userdesc:empty:not(:focus):before {
  color: grey;
  content: attr(data-default-text);
  font-style: italic;
}
.sidebar {
  background: #eef;
  padding: 2rem;
  width: 40%;
}
.suggestions-wrapper {
  position: relative;
}
.filter-suggestions {
  margin-bottom: 1rem;
}
.suggested-action {
  margin-bottom: 1rem;
}
.suggested-action .tagline {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
.suggested-action .contributing-author-goals {
  font-size: 0.75rem;
  margin-left: 1rem;
}
#openAuthorGoalEditorButton {
  margin-bottom: 1rem;
}
#authorGoalEditorUI {
  display: none; /* Hidden by default */
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  /*cursor: pointer; /* Add a pointer on hover */
}
#authorGoalEditorUI.visible {
  display: block;
}
.author-goal-editor-inner {
  background: white;
  border-radius: 1rem;
  left: 25%;
  padding: 1rem;
  position: relative;
  top: 25%;
  width: 50%;
}
.author-goal-editor-inner .author-goals {
  display: flex;
  flex-flow: row wrap;
}
.author-goal-editor-inner .author-goal {
  background: #eee;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
}
.author-goal-editor-inner .author-goal select {
  margin-right: 0.5rem;
}
